/* animated bg*/
@keyframes backgroundMove {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0 100%;
  }
}

.animate-backgroundMove {
  animation: backgroundMove 30s linear infinite;
  background-image: url("/assets/background.png");
  background-repeat: repeat-x;
  background-size: 150% auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}



@keyframes slideTop {
  0% {
    transform: translateX(+100%);
    /* Position en dehors de l'écran */
    opacity: 0;
    /* Optionnel : fade-in pendant le slide */
  }

  100% {
    transform: translateX(0);
    /* Position finale */
    opacity: 1;
  }
}

.slide-top {
  animation: slideTop 1s ease-in-out forwards;
  /* Animation fluide et direction finale */
}